.header {
  width: 100vw;
  height: 90vh;
  text-align: center;
  background-image: url(../img/bg-3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  figure {
    img {
      width: 30%;
    }
  }
  .container {
    height: 60%;
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, 0.75);
    padding: 1em;
    border-radius: 10px;
  }
  &-wrapper {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 1em;
    padding-top: 1em;
    border: 1px solid $primary;
  }

  p {
    width: 80%;
    display: block;
    color: lighten($color: #444444, $amount: 0);
  }
  .btn-primary {
    margin-top: 1em;
  }
}
